.main {
  flex: 1;
  color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 26px;
}

.gridIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
}

.gridTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.gridInfo {
  font-size: 12px;
  margin-top: 20px;
}

.yourImc {
  font-size: 17px;
  margin: 10px 0 50px 0;
}
